{% assign cta = site.data.common[page.lang] %}
{% assign tag = cta.hero %}
<div id="cd-intro-top" class="header-container">
    <div class="bcg"></div>
    <div class="ov"></div>
    {% include parts/prt-header.html %}
    <section id="cd-intro" class="cd-section hero">
        <article id="cd-intro-tagline" class="entry">
            <heading class="title">
                <h1>
                    <span class="tag">{{ tag.set }}</span> 
                    <span class="tag">{{ tag.mid }}</span>
                    <span class="end-tag">{{ tag.cap }} <i>{{ tag.end }}</i></span>
                </h1>
            </heading>
            <footer class="cta-entry">
                <ul>
                    <li><a href="/case-studies.html" class="cta"><span>{{ cta.case-title }}</span></a></li>
                    <li>{% include parts/act-btn-contact.html %}</li>
                </ul>
            </footer>
        </article>
        <!-- #cd-intro-tagline -->

        <!-- <a href="#" id="cd-btn" class="cd-btn-head"><span>Learn More</span></a> -->
    </section>
    <!-- #cd-intro -->
 
    <!-- cd-secondary-nav -->
    {% include parts/prt-section-nav.html %}
</div>