<section id="cd-community" class="cd-section">
    <div class="bcg"></div>
    <div class="ov"></div>
    <article class="entry">
        <div class="content">
            <span class="icon"><img src="assets/img/icon-comm.svg" alt=""></span>
            <header class="section-title">
                <span class="small-title">Community</span>
                <h2 class="title">eHabla Fútbol combines compelling, real-world experiences...</h2>
            </header>
            <p>with a social intelligence and advertising platform that utilizes the power of fútbol to drive brand awareness and engagement with the Hispanic community.</p>
            <footer class="section-footer"></footer>
        </div>
    </article>
</section>