{% assign sum = site.data.common[page.lang] %}
{% assign c = sum.summary  %}
<section id="cd-summary" class="cd-section summary">
    <div class="bcg"></div>
    <div class="ov"></div>
    <article class="entry">
        <div class="content">
            <header class="section-title">
                <h2 class="title">{{ c.title }}</h2>
            </header>
            <p>{{ c.desc }}</p>

            <footer class="section-footer">
                {% include parts/act-btn-contact.html %}
            </footer>
        </div>
    </article>
</section>