<div id="cd-intro-top" class="header-container">
    <div class="bcg"></div>
    <div class="ov"></div>
    {% include parts/inc-header.html %}
    <section id="cd-intro" class="cd-section hero">
        <article id="cd-intro-tagline" class="entry">
            <heading class="title">
                <h1>
                    <span>Helping brands better<br/> serve the Hispanic community through</span>
                    the power of fútbol!
                </h1>
            </heading>
            <footer class="cta-entry">
                <ul>
                    <li><a href="#cd-community" class="cta"><span>Learn More</span></a></li>
                    <li>{% include parts/act-btn-contact.html %}</li>
                </ul>
            </footer>
        </article>
        <!-- #cd-intro-tagline -->

        <!-- <a href="#" id="cd-btn" class="cd-btn-head"><span>Learn More</span></a> -->
    </section>
    <!-- #cd-intro -->
 
    <!-- cd-secondary-nav -->
    {% include parts/inc-nav.html %}
</div>