<section id="cd-summary" class="cd-section summary">
    <div class="bcg"></div>
    <div class="ov"></div>
    <article class="entry">
        <div class="content">
            <header class="section-title">
                <h2 class="title">Let's Get Started</h2>
            </header>
            <p>eHabla Fútbol helps you understand, reach and engage with the Hispanic community in an intelligent and meaningful way, better serving their needs while catapulting brand awareness.</p>

            <footer class="section-footer">
                <a href="#"><span>Get Started!</span></a>
            </footer>
        </div>
    </article>
</section>