<section id="cd-community" class="cd-section cd-container">
    <div class="bcg"></div>
    <article class="entry">
        <div class="content">
            <span class="icon"><img src="assets/img/icon-comm.svg" alt=""></span>
            <header class="section-title">
                <h2 class="title">
                    <span class="small-title">Community</span>
                    Ehabla Futbol combines compelling, real-world experiences...
                </h2>
            </header>
            <p>with a social intelligence and advertising platform that utilizes the power of fútbol to drive brand awareness and engagement with the Hispanic community.</p>
        </div>
    </article>

    <!-- ctas -->
    <div class="ctas">
        <ul>
            <li><a href="#cd-connection" class="cta"><span>Learn More</span></a></li>
            <li><a href="#" class="cta-alt"><span>Get Started</span></a></li>
        </ul>
    </div>
</section>