<section id="cd-engage" class="cd-section">
    <div class="bcg"></div>
    <div class="ov"></div>
    <article class="entry">
        <div class="content">
            <span class="icon"><img src="assets/img/icon-eng.svg" alt=""></span>
            <header class="section-title">
                <span class="small-title">Engage</span>
                <h2 class="title">Profound Impressions</h2>
            </header>
            <p>A combination of live event sponsorship and intelligent digital advertising enables your brand to synchronize with a passionate community, creating profound impressions that not only drive action but increase brand connection and loyalty in a unique way.</p>
            <footer class="section-footer"></footer>
        </div>
    </article>

    <!-- ctas 
    <div class="ctas">
        <ul>
            <li><a href="#cd-summary" class="cta"><span>Learn More</span></a></li>
            <li><a href="#" class="cta-alt"><span>Get Started</span></a></li>
        </ul>
    </div> -->
</section>