<div class="header-container">
    <div class="bcg"></div>
    <div class="ov"></div>
    {% include parts/inc-header.html %}
    <section id="cd-intro" class="cd-section hero">
        <article id="cd-intro-tagline" class="entry">
            <heading class="title">
                <h1>
                    <span>Helping brands better<br/> serve the Hispanic community through</span>
                    the power of futbol
                </h1>
            </heading>
            <footer class="ctas">
                <ul>
                    <li><a href="#cd-community" class="cta"><span>Learn More</span></a></li>
                    <li><a href="#" class="cta-alt"><span>Get Started</span></a></li>
                </ul>
            </footer>
        </article>
        <!-- #cd-intro-tagline -->

        <a href="#" id="cd-btn" class="cd-btn-head"><span>Learn More</span></a>
    </section>
    <!-- #cd-intro -->
 
    <!-- cd-secondary-nav -->
    {% include parts/inc-nav.html %}
</div>