<section id="cd-experience" class="cd-section info-graphic">
    <div class="bcg"></div>
    <div class="ov"></div>
    <article class="entry">
        <div class="content">
            <span class="icon"><img src="assets/img/icon-exp.svg" alt=""></span>
            <header class="section-title">
                <h2 class="title">
                    <span class="small-title">Experience</span>
                    Intelligent Insight
                </h2>
            </header>
            <p>Using leading-edge analytics, eHabla Futbol not only understands what topics are trending in the community, but also the way in which people are talking about them and how they feel, providing unparalleled insights that sync your messages with the right market.</p>
        </div>

        <!-- phone -->
        <figure class="featured">
            <img src="assets/img/img-phone-exp.png" alt="">
        </figure>
    </article>

    <!-- ctas
    <div class="ctas">
        <ul>
            <li><a href="#cd-engage" class="cta"><span>Learn More</span></a></li>
            <li><a href="#" class="cta-alt"><span>Get Started</span></a></li>
        </ul>
    </div> -->
</section>