<div class="cd-secondary-nav">
    <a href="#0" class="cd-secondary-nav-trigger"></a>
    <nav>
        <ul class="site-nav">
            <li>
                <a href="#cd-intro-top" id="index">
                    <b>Intro</b>
                    <span><img src="assets/img/icon-intro.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-community">
                    <b>Community</b>
                    <span><img src="assets/img/icon-comm.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-connection">
                    <b>Connection</b>
                    <span><img src="assets/img/icon-conn.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-experience">
                    <b>Experience</b>
                    <span><img src="assets/img/icon-exp.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-engage">
                    <b>Engage</b>
                    <span><img src="assets/img/icon-eng.svg" alt=""></span>
                </a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="cd-slide-nav">
            {% include parts/inc-nav-add.html %}
            {% include parts/inc-nav-credits.html %}
        </ul>
    </nav>
</div>