<div class="cd-secondary-nav">
    <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
    <nav>
        <ul class="site-nav">
            <li>
                <a href="#cd-intro-top" id="index">
                    <b>Intro</b>
                    <span><img src="assets/img/icon-intro.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-community">
                    <b>Community</b>
                    <span><img src="assets/img/icon-comm.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-connection">
                    <b>Connection</b>
                    <span><img src="assets/img/icon-conn.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-experience">
                    <b>Experience</b>
                    <span><img src="assets/img/icon-exp.svg" alt=""></span>
                </a>
            </li>
            <li>
                <a href="#cd-engage">
                    <b>Engage</b>
                    <span><img src="assets/img/icon-eng.svg" alt=""></span>
                </a>
            </li>
        </ul>
    </nav>
</div>