<header class="cd-header">
    <div id="cd-logo"><a href="/#top"><img src="assets/img/temp-logo.png" alt="Logo"></a></div>
    <nav class="cd-primary-nav">
        <ul>
            <!-- inser more links here -->
            <li><a href="#0" class="fb">Facebook</a></li>
            <li><a href="#0" class="tw">Twitter</a></li>
        </ul>
    </nav>
</header>

<!-- <header class="cd-header-alt">
    <div id="cd-logo"><a href="/#top"><img src="assets/img/temp-logo.png" alt="Logo"></a></div>
</header> -->