<header class="site-header">
    {% include parts/act-btn-logo.html %}

    <!-- page navigation -->
    <nav>
        <ul class="page-nav">
            <li><a href="/">Home</a></li>
            {% include parts/prt-nav-add.html %}
            {% include parts/prt-nav-credits.html %}
        </ul>
    </nav>

    <div class="cd-btn-head">
        <nav class="cd-social">
            <ul>
                {% include parts/prt-social.html %}
                <li>
                    {% include parts/act-btn-mobile.html %}
                </li>
            </ul>
        </nav>  
    </div>
</header>