{% assign c = site.data.common[page.lang] %}
{% include parts/act-btn-logo.html %}

<div class="cd-btn-head">
	<nav class="cd-social">
		<ul>
			{% include parts/prt-social.html %}
			<li class="btn-slide">
				<span>{{ c.menu }}</span>
				<a href="#0" id="cd-btn" class="cd-subnav-trigger">
					<button class="hamburger hamburger--arrowalt" type="button">
						<span class="hamburger-box">
					    	<span class="hamburger-inner"></span>
					  	</span>
					</button>
				</a>
			</li>
		</ul>
		<ul>
			{% assign trans = site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for ts in trans %}
            <li>
                <a href="{{ ts.url }}" class="{{ ts.lang }}">{{ ts.lang }}</a>
            </li>
            {% endfor %}
		</ul>
	</nav>	
</div>

<div class="cd-header-container">
	<header class="cd-header">
		<nav class="cd-main-nav">&nbsp;</nav>
		<nav class="cd-social">
			<ul>
				{% include parts/prt-social.html %}
			</ul>
		</nav>
	</header>
</div>
