{% assign contact = site.data.common[page.lang] %} {% assign frm = contact.form %}
<!-- contact modal -->
<div id="contactModal" data-reveal>
        
    <div class="modal-content">
        <div class="entry">
            <h2 class="contact-title">
                {{ frm.title }}
            </h2>
            
            <p>{{ frm.desc }}</p>
            
            <article id="formContainer" class="entry">
                {% include parts/prt-form-default.html %}
            </article>
        </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal"> 
        <span class="close"><i>{{ frm.cls }}</i></span>
    </button>
</div>