<div class="cd-secondary-nav">
    <a href="#0" class="cd-secondary-nav-trigger">Menu <span></span></a>
    <nav>
        <ul class="site-nav">
            {% for section in site.data.sections %}
            <li>
                {% if forloop.first == true %}
                <a href="{{ section.href }}" id="index">
                {% else %}
                <a href="{{ section.href }}">
                {% endif %}
                    <b>{{ section.title }}</b>
                    <span><img src="assets/img/icon-{{ section.icon | append: '.svg' }}" alt="{{ section.title }}"></span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <nav>
        <ul class="cd-slide-nav">
            {% include parts/prt-page-nav.html %}
        </ul>
    </nav>
</div>