<form class="cd-form floating-labels" action="https://formspree.io/info@ehablafutbol.com" method="POST">
	<fieldset>
		<!-- error 
		<div class="error-message">
			<p>Please enter a valid email address</p>
		</div>
		-->
		
		<div class="field-container">
			<!-- left side -->
			<div class="form-left">
				<div class="icon">
					<label class="cd-label" for="cd-name">Full Name</label>
					<input class="user" type="text" name="Full Name" id="cd-name" required>
			    </div>

			    <div class="icon">
			    	<label class="cd-label" for="cd-email">Email</label>
					<input class="email" type="email" name="Email" id="cd-email" name="_replyto" required>
			    </div>
			
			    <div class="icon">
			    	<label class="cd-label" for="cd-phone">Phone</label>
					<input class="tel" type="text" name="Phone" id="cd-phone" required="">
			    </div> 

			    <input type="text" name="_gotcha" style="display:none" />   
			</div>
			
			<!-- right side -->
			<div class="form-right">
				<div class="icon">
					<label class="cd-label" for="cd-textarea">What are you interested in learning?</label>
					<textarea class="message" name="Message" id="cd-textarea" required></textarea>
				</div>
			</div>
		</div>

		<div class="submit-container">
	      	<input type="submit" value="Send Message" class="submit">
	    </div>
	    <input type="hidden" name="_next" value="/thank-you.html" />
	    <input type="hidden" name="_subject" value="New submission for Sawiana!" />
	    <input type="hidden" name="_cc" value="d@diallohudgins.com" />
	    <input type="text" name="_gotcha" style="display:none" />
	</fieldset>
</form>