$breakpoints: (
    small: 667px,
    medium: 768px,
    large: 1024px
);
$typi: (
    null: 16px,
    small: 18px,
    large: 18px
);
$hero-map: (
    null: (48px, 1.1),
    medium: (52px, 2),
    large: (78px, 1.5)
);
$hero-sub-map: (
    null: 16px,
    medium: 20px,
    large: 32px
);
$h2-map: (
    null: 28px,
    medium: 38px,
    large: 46px
);
$h3-map: (
    null: 18px,
    medium: 24px,
    large: 28px
);

body {
    @include antialias;
    font-family: $roboto;
    * {
        color: $white;
    }
}

@include headings() {
    color: $white;
    font-family: $roboto;
    font-weight: 300;
    text-shadow: 1px 1px 1px black(.2);
    sup {
        font-size: rem(13);
        top: -20px;
    }
}

@include headings(1) {
    margin: 0 0 2.5rem;
}

@include headings(2) {
    @include typi($h2-map);
    margin: 0 0 .3rem;
    &.sub-title {
        margin-bottom: 2em;
    }
}

@include headings(3) {
    @include typi($h3-map);
    margin: 0 0 .3rem;
}

sup {
    font-size: rem(10);
    position: relative;
    top: -10px;
}

a {
    @include transition(all .3s ease-in-out);
    color: $white;
    text-decoration: none;
}

p {
    @include typi-base();
    color: darken($white, 20%);
    font-weight: 400;
    text-shadow: 1px 1px 3px black(.3);
    margin-top: 0;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(128,128,128, .35), rgba(0, 0, 0, 0));
    border: 0;
    margin: 2.5em 0; 
    height: 1px;
}

.cd-main-nav {
    a {
        font-size: rem(14px);
        font-weight: 400;
        text-transform: uppercase;
    }
}

.cta, .cta-alt {
    width: 180px;
    white-space: nowrap; 
}

.cta {
    @include ctaSlide;
}

.cta-alt {
    @include ctaSlide($bg: $button-color, $hv: $site-secondary-color, $type: mail);
}

.site-nav, .cd-slide-nav, .page-nav {
    li {
        a, b {
            color: rgba($white, .45);
            font-size: rem(13);
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: $white;
            }
            &:hover b, &.active b {
                color: $white;
            }
        }
    }
}

/*--------------------------------

	Hero and Sections
    
--------------------------------*/
#cd-intro {
    .title {
        h1 {
            @include typi($hero-map);
            font-weight: 400;
            text-transform: uppercase;
            padding: 0 1em;
            span {
                padding: 0 0 .3em;
            }
            .tag {
                @include typi($hero-sub-map);
                @include bp(mediumUp) {
                    @include center-block;
                    max-width: 80%;
                }
                font-weight: 300;
                text-transform: normal;
                display: block;
            }
            .end-tag {
                i {
                    font-style: normal;
                }
            }
        }
    }
    &.is-loaded {
        .tag {
            &:nth-child(1) {
                @include fadeInDown($duration: .8s, $delay: .5s);
            }
            &:nth-child(2) {
                @include fadeInDown($duration: .8s, $delay: 1s);
            }
        }
        .end-tag {
            @include fadeIn($duration: .8s, $delay: 1.5s);
            i {
                @include fadeIn($duration: .8s, $delay: 2s);
            }
        }
    }
}
.cd-section:not(.hero) {
    .title {
        @include typi($h2-map);
    }
    .small-title {
        font-size: rem(16);
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        padding: .5em 0;
        display: block;
    }
    p {
        font-size: rem(20px);
    }
    &.summary {
        .title {
            @include typi($hero-map);
            text-transform: uppercase;
        }
        p {
            @include typi($hero-sub-map);
        }
        footer {
            a {
                @include ctaSlide($bg: $button-color, $hv: $site-secondary-color, $type: mail);
            }
        }
    }
}

/* -------------------------------- 

 Default Pages 

-------------------------------- */

.page-content {
    * {
        color: lighten($black, 25%);
        text-shadow: none;
    }
}
