$breakpoints: (
    small: 667px,
    medium: 768px,
    large: 1024px
);
$typi: (
  null: 16px,
  small: 18px,
  large: 20px
);
$hero-map: (
  null: (48px, 1.1),
  medium: (52px, 2),
  large: (78px, 1.5)
);
$hero-sub-map: (
  null: 16px,
  medium: 20px,
  large: 32px
);
$h2-map: (
  null: 28px,
  medium: 38px,
  large: 46px
);

body {
    @include antialias;
    font-family: $roboto;
    * {
        color: $white;
    }
}

@include headings() {
    color: $white;
    font-family: $roboto;
    font-weight: 300;
    text-shadow: 1px 1px 1px black(.2);
    sup {
        font-size: rem(13);
        top: -20px;
    }
}

@include headings(1) {
    margin: 0 0 2.5rem;
}

@include headings(2) {
    @include typi($h2-map);
    margin: 0 0 .3rem;
    &.sub-title {
        margin-bottom: 2em;
    }
}

sup {
    font-size: rem(10);
    position: relative;
    top: -10px;
}

a {
    @include transition(all .3s ease-in-out);
    color: $white;
    text-decoration: none;
}

p {
    @include typi-base();
    color: darken($white, 20%);
    font-weight: 400;
    text-shadow: 1px 1px 3px black(.3);
    margin-top: 0;
}

.cta {
    @include ctaSlide;
}

.cta-alt {
    @include ctaSlide($bg: $button-color, $hv: $site-secondary-color, $type: mail);
}


/*--------------------------------
	Hero and Sections
*/
#cd-intro {
    .title {
        h1 {
            @include typi($hero-map);
            font-weight: 400;
            text-transform: uppercase;
            padding: 0 1em;
            span {
                @include typi($hero-sub-map);
                @include bp(mediumUp) {
                    @include center-block;
                    max-width: 80%;
                }
                font-weight: 300;
                text-transform: normal;
                display: block;
            }
        }
    }
}
.cd-section:not(.hero) {
    .title {
        @include typi($h2-map);
    }
    .small-title {
        font-size: rem(16);
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        padding: .5em 0;
        display: block;
    }
    p {
        font-size: rem(20px);
    }
    &.summary {
        .title {
            @include typi($hero-map);
            text-transform: uppercase;
        }
        p {
            @include typi($hero-sub-map);
        }
        footer {
            a {
                @include ctaSlide($bg: $button-color, $hv: $site-secondary-color, $type: mail);
            }
        }
    }
}
