body {
    background-color: $black;
    height: 100%;
}

figure {
    @include zero-out;
}

.ov {
    @include abs-pos($t: 0, $r:0, $b:0, $l:0);
}

.main-scene {
    @include mui-animation(fade);
    @include zero-out;

    transition-timing-function: ease-in;
    animation-duration: 1.2s;

    animation-fill-mode: both;
}

.bcg {
    @include abs-pos($t: 0, $l: 0);
    @include bg-size(cover);
    background-color: $black;
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 100%;
    height: 150%;
    z-index: auto;

    opacity: 1;
}

/* -------------------------------- 

Hero components 

-------------------------------- */
.header-container {
    .bcg {
        @include bp(large) {
            @include bg-size(120%);
        }
        background-image: url(#{$imgPath}/img-bck-hero.jpg);

    }
    .ov {
        @include linear-gradient(to top, black, rgba(0,0,0,0), black);
        background-color: black(0);

        opacity: .65;
    }
}

#cd-community {
    .bcg {
        @include bp(large) {
            @include bg-size(120%);
        }
        background-image: url(#{$imgPath}/img-bck-community.jpg);

    }
}

#cd-connection {
    .bcg {
        @include bp(large) {
            @include bg-size(120%);
        }
        background-image: url(#{$imgPath}/img-bck-connection.jpg);

        background-position: 0 0;
    }
}

#cd-experience {
    .bcg {
        @include bp(large) {
            @include bg-size(120%);
        }
        background-image: url(#{$imgPath}/img-bck-experience.jpg);

        background-position: 0 0;
    }
}

#cd-engage {
    .bcg {
        @include bp(large) {
            @include bg-size(120%);
        }
        background-image: url(#{$imgPath}/img-bck-engage.jpg);

        background-position: 0 0;
    }
}

#cd-summary {
    .bcg {
        @include bp(large) {
            @include bg-size(120%);
        }
        background-image: url(#{$imgPath}/img-bck-summary.jpg);

        background-position: 50% 0;
    }
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-section {
    overflow: hidden;
    position: relative;
}

.cd-section:not(.hero) {
    @include bp(mediumUp) {
        height: 100vh;
        min-height: 700px;
    }
    @include clearfix;
    @include bp(medium) {
        padding-top: rem(200);
    }
    @include bp(large) {
        padding-top: 5em;
    }
    background-color: $section-bck;
    border-bottom: 1px solid white(.4);
    padding-top: 3em;
    width: 100%;
    height: 800px;
    .ov {
        background-color: black(.4);
    }
    .entry {
        @include grid-row;
        @include bp(large) {
            @include center($xy: y);
            margin-top: -5em;
        }
        padding: 0 1em 1em;
        position: relative;
        .icon {
            @include center-block;
            @include bp(mediumUp) {
                @include abs-pos($t: 0, $l:.9375rem);
            }
            @include bp(mediumUp) {
                @include abs-pos($t: 0, $l:2.7rem);
            }
            margin-bottom: 1em;
            width: 40px;
            height: 40px;
            display: block;
        }
        .content {
            @include grid-col;
            @include grid-column-end;
            @include bp(mediumUp) {
                @include grid-col;
                text-align: left;
                padding-left: 5em;
            }
            @include bp(large) {
                @include grid-col(7);
                padding-left: 5em;
            }
            text-align: center;
            .section-title {
                margin-bottom: 3em;
            }
        }
    }
    .ctas {
        @include bp(mediumUp) {
            @include abs-pos($b: 0);
            display: block;
        }
        background-color: black(.3);
        padding: 2em;
        width: 100%;
        display: none;
        overflow: hidden;
    }
    &.summary {
        .entry {
            .content {
                @include grid-col();
                text-align: center;
            }
        }
    }
    &.info-graphic {
        .entry {
            @include bp(medium) {
                @include transform(translateY(0));
                top: auto;
                bottom: auto;
            }
            .content {
                @include bp(large) {
                    @include grid-col(6);
                }
                margin-bottom: 5em;
            }
            .featured {
                @include bp(medium) {
                    @include grid-col;
                    display: block;
                }
                @include bp(large) {
                    @include abs-pos($t: 0, $r: 0);
                    width: 450px;
                    display: block;
                }
                text-align: center;
                width: 80%;
                display: none;
            }
        }
    }
}
