body {
    background-color: $black;
    height: 100%;
}

figure {
    @include zero-out;
}

.ov {
    @include abs-pos($t: 0, $r:0, $b:0, $l:0);
}

.main-scene {
    @include mui-animation(fade);

    transition-timing-function: ease-in;
    animation-duration: 1.2s;

    animation-fill-mode: both;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
    width: 90%;
    margin: 0 auto;
    @include clearfix;
}

.has-top-margin {
    /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
    @include bp(large) {
        @include animation(animate-margin-top 0.3s);
        margin-top: $bar-height; // variables inside _variables.scss
    }
}

@include keyframes(animate-margin-top) {
    0% {
        margin-top: $bar-height-full;
    }

    100% {
        margin-top: $bar-height;
    }
}

/* -------------------------------- 

Hero components 

-------------------------------- */
.hero-section {
    background-color: cyan;
    position: relative;
    height: 90%; 
    // .entry {
    //     @include center-align($ver: true, $hor: true, $pos: absolute);
    // }
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-section {
    @include bp(mediumUp) {
        padding: 5em 1em 3em;
        min-height: 700px;
    }
}

#intro, #hero {
    height: 100vh;
    .entry {
        @include center-align($hor: true, $pos: absolute);
    }
}

