/* -------------------------------- 

	Header

-------------------------------- */
.header-container {
    @include zero-out;
    border-bottom: 1px solid white(.2); 
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.cd-header {
    @include grid-row;
    @include bp(mediumUp) {
        box-shadow: none;
        height: $header-M;
    }
    height: $header-S;
    position: relative;
    z-index: 5;
}

.cd-section.hero {
    height: 75vh;
    min-height: 75vh;
    position: relative;
    .entry {
        @include center-align($ver: true, $hor: true, $pos: absolute);
        text-align: center;
        width: 100%;
    }
}

#cd-logo {
    @include center-align($ver: false, $hor: true, $pos: absolute);
    @include bp(mediumUp) {
        &.hidden {
            @include transition(left .3s, opacity .3s);
            margin-left: 0;
            position: fixed;
            top: -20%;
            left: -20%;
            /* assign a position fixed and move outside the viewport (on the left) */

            opacity: 0;

            &.slide-in {
                /* slide in when the secondary navigation gets fixed */
                width: 127px;
                height: 126px;
                top: 10px;
                left: 10%;

                opacity: 1;
            }
        }
    }
    width: 147px;
    height: 146px;
    top: 10px;

    img {
        display: block;
    }
}

.ctas {
    text-align: center;
        ul {
            @include flat-list;
            @include bp(mediumUp) {
                @include menu-list($li-padding: 0 .8rem);
                @include centered-list;
        }
    }
}

.cd-btn-head {
    padding: .7rem 1.2rem;
    z-index: $header-zindex;

    opacity: 0;
    &.hidden {
        @include transition(right .3s, opacity .3s);
        margin-right: 0;
        position: fixed;
        top: -20%;
        right: -20%;


        &.slide-in {
            top: 10px;
            right: 5%;
            @include bp(mediumUp) {
                opacity: 1;
            }
        }
    }
}
