/* -------------------------------- 

	Header

-------------------------------- */
.header-container {
    @include zero-out;
    border-bottom: 1px solid white(.2); 
    // padding: rem(100) rem(50) 0 rem(50); 
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.cd-section.hero {
    padding-top: 50%; 
    height: 75vh;
    min-height: 75vh;
    position: relative;
    
    overflow: visible;
    .entry {
        @include bp(large) {
            @include center-align($ver: true, $hor: true, $pos: absolute);
        }
        text-align: center;
        width: 100%;
    }
}

.cd-header-container {
    @include bp(large) {
        display: block;
    }
    position: relative;
    display: none;
    .cd-header {
        @include grid-row;
        nav {
            @include grid-col(6);
            padding: rem(30) 0 0; 
            ul {
                @include menu-list($li-padding: 0 5px);
            }
            &.cd-main-nav {
                padding-top: 2.3em; 
                a {
                    @include ctaMain;
                    font-size: rem(12); 
                    padding: 0.2rem 0.5rem; 
                    display: block;
                }
            }
            &.cd-social {
                ul {
                    float: right;
                }
            }
        }
    }
}

#cd-logo {
    @include center-align($ver: false, $hor: true, $pos: absolute);
    @include bp(mediumUp) {
        &.hidden {
            @include transition(left .3s, opacity .3s);
            margin-left: 0;
            position: fixed;
            top: -20%;
            left: -20%;
            z-index: 5; 
            /* assign a position fixed and move outside the viewport (on the left) */

            opacity: 0;

            &.slide-in {
                /* slide in when the secondary navigation gets fixed */
                width: 127px;
                height: 126px;
                top: 10px;
                left: 10%;

                opacity: 1;
            }
            a, a:active, a:hover {
                width: 127px;
                height: 126px; 
            }
        }
    }
    width: 147px;
    height: 146px;
    top: 10px;

    img {
        display: block;
    }
}

.cta-entry, .ctas {
    text-align: center;
    overflow: hidden;
        ul {
            @include flat-list;
            @include bp(mediumUp) {
                @include menu-list($li-padding: 0 .8rem);
                @include centered-list;
        }
    }
}

.cd-btn-head {
    @include bp(mediumUp) {
        display: block;
    }
    display: none;
    position: fixed;
    top: -20%;
    right: -20%;
    z-index: 5;

    &.hidden {
        @include transition(right .3s, opacity .3s);
        margin-right: 0;
        
        &.slide-in {
            top: 12px;
            right: 5%;
            @include bp(mediumUp) {
                opacity: 1;
            }
        }
    }
}
