/* -------------------------------- 

    Navigation

-------------------------------- */
.cd-social {
    ul {
        @include menu-list($li-padding: 0 5px);
        li:last-child {
            padding: 0; 
        }
        a {
            @include hide-text;
            padding: .6em 1em;
            width: 40px;
            height: 40px;
            display: block;
            &.fb {
                background: url(#{$imgPath}/icon-fb.svg) no-repeat 0 0;

            }
            &.tw {
                background: url(#{$imgPath}/icon-tw.svg) no-repeat 0 0;

            }
        }
    }
    .hamburger {
        padding: 8px 5px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

body:not(.home) {
    .cd-social ul {
        li:last-child {
            @include bp(large) {
                display: none;
            }
        }
    }
}

#cd-btn-menu {
    width: 50px; 
}

.mobile-index {
    @include bp(mediumUp) {
        display: none;
    }
    width: 50px;
    height: 40px;
    display: block;  
    position: fixed;
    top: 12px;
    right: 3%;
    z-index: 10; 
      
}

/* -------------------------------- 

	Secondary Fixed Navigation

-------------------------------- */

.cd-secondary-nav {
    @include bp(large) {
        background-color: black(.4);
        z-index: $header-zindex;

        opacity: 1;
    }
    @include bp(large) {
        @include transition(height .3s);
        @include abs-pos($b: 0);
        padding: 0.3rem 1.1rem 1.1rem;
        min-height: $bar-height;
        nav, ul, li, a {
            height: 100%;
        }
    }
    width: 100%;
    overflow: hidden;
    &.is-fixed {
        @include bp(large) {
            /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
            /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
            background-color: $black;
            border-bottom: 2px solid $white;
            padding: 0;
            width: 100%;
            height: $bar-height;
            position: fixed;
            top: 0;
            bottom: auto;
            left: 0;
            &.show-nav {
                @include transition(opacity .3s);

                opacity: 0;
            }
        }
    }

    &.animate-children {
        /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
        /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
        box-shadow: 0 1px 2px rgba($black, .2);
        .site-nav {
            li a {
                padding: rem(25) rem(30) 0 rem(30);
                span {
                    opacity: 0;
                }
            }
        }
    }

    .site-nav {
        @include zero-out;
        @include transform(scale(0));
        @include transform-origin(100% 100%);
        @include transition(transform .3s, visibility 0s .3s);
        @include backface-visibility(hidden);
        @include bp(large) {
            @include transform(scale(1));
            text-align: center;
            width: auto;
            max-width: 100%;
            visibility: visible;
            /* reset navigation values */
            position: static;


            li {
                margin-left: -4px;
                display: inline-block;
                a {
                    @include transition(padding .2s);
                    border-bottom: none;
                    padding: rem(58) rem(40) 0 rem(40);
                    display: block;
                    position: relative;
                    span {
                        @include center(x);
                        @include transition(opacity .2s);
                        background-repeat: no-repeat;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        position: absolute;
                        top: 18px;
                    }
                }
            }
        }
        /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
        width: 90%;
        max-width: 400px;
        visibility: hidden;
        position: fixed;
        z-index: 1;
    }

    .cd-slide-nav {
        @include abs-pos($t: 0, $r: 0, $l: 0);
        @include flat-list;
        @include transform(translateY(-100px));
        @include transition(transform .3s .2s);
        text-align: center;
        background-color: lighten($black, 5%);
        height: 100px;
        z-index: 3;
        &.moves-out {
            @include transform(translateY(0));
            height: 70px;
        }
        li {
            margin-left: -4px;
            display: inline-block;
            a {
                padding: rem(25) rem(30) 0 rem(30);
            }
        }
    }

    li {
        a {
            padding: 1.6em;
            display: block;
        }
    }
}

// Mobile Nav easier to read
.cd-secondary-nav {
    .site-nav {
        &.is-visible {
            @include transform(scale(1));
            @include transition(transform .3s, visibility 0s .1s, ease-in-out);
            @include flat-list;
            background-color: black(.95);
            width: 100%;
            max-width: 100%;
            visibility: visible;
            bottom: 0;
            z-index: $header-zindex;
            li {
                text-align: center;
                text-transform: uppercase;
                span {
                    display: none;
                }
                a {
                    padding: rem(30);
                    display: block;
                }
            }
        }
    }
}

.cd-secondary-nav-trigger {
    @include bp(large) {
        display: none;
    }
    white-space: nowrap;
    text-indent: 100%;
    background: rgba($site-primary-color, .75);
    width: 44px;
    height: 44px;
    /* image replacement */
    overflow: hidden;
    position: fixed;
    right: 3%;
    bottom: 20px;
    z-index: 2;

    span {
        @include center;
        @include transition(background .3s);
        background: $white;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        display: block;
        /* the span element is used to create the menu icon */
        position: absolute;

        &::before, &::after {
            content: "";
            background: inherit;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &::before {
            @include transform(rotate(0));
            right: -10px;
        }

        &::after {
            @include transform(rotate(0));
            left: -10px;
        }
    }

    &.menu-is-open {
        background: transparent;
    }

    &.menu-is-open span {
        background: rgba($white, 0);
        width: 20px;
        height: 2px;

        &::before, &::after {
            background: rgba($white, 1);
            border-radius: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &::before {
            @include transform(rotate(135deg));
        }

        &::after {
            @include transform(rotate(225deg));
        }
    }
}

.page-nav {
    display: none;
    @include bp(large) {
        display: block;
    }
    @include flat-list;
    text-align: center;
    height: 100px;
    li {
        margin-left: -4px;
        display: inline-block;
        a {
            padding: rem(25) rem(30) 0 rem(30);
            display: block;
            position: relative;
        }
    }
}

/* -------------------------------

    CTAs

------------------------------- */
.ctas {
    @include bp(large) {
        @include position(fixed, auto 0 0 0);
        @include transform(translateY(120px));
        @include transition-property(transform);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-in-out);
        background-color: black(.3);
        padding: .5em 1em;
        width: 100vw;
        height: 80px;
        overflow: hidden;
        z-index: 10;
        &.is-visible {
            @include transform(translateY(0));
        }
    }
    display: none;
}
