/* Footer */
.footer-container {
	padding: 1.5em 0 1em; 
	.footer-main {
		@include grid-row;
		.copyright, .bck-top {
			@include grid-col();
			@include bp(mediumUp) {
				@include grid-col(6);
			}
			p {
				color: darken($site-gray, 20%);
				font-size: 1em; 
				text-align: center;
				@include bp(mediumUp) {
					text-align: left;
				}
			}
		}
	}
	.footer-menu {
		@include menu-list($float: right, $li-margin: 0 0 0 .8em);
		a {
			color: darken($site-gray, 40%);
			font-size: rem(12);
			font-weight: 700;  
			text-transform: uppercase;
		}
	}
}