/* Footer */
.footer-container {
	padding: 1.5em 0 1em; 
	.footer-main {
		@include grid-row;
		.copyright, .bck-top {
			@include grid-col();
			@include bp(mediumUp) {
				@include grid-col(6);
			}
			p {
				color: darken($site-gray, 20%);
				font-size: 1em; 
				text-align: center;
				@include bp(mediumUp) {
					text-align: left;
				}
			}
		}
	}
}