/* -------------------------------- 

    Preloader 

-------------------------------- */
#preloader {
    color: $white;
    background-color: $black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
    #cd-logo-pre {
        @include center-align($ver: false, $hor: true, $pos: absolute);
        padding: 8em 0 0;
        width: 167px;
        height: 120px;  
    }
    .txt {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
    .txt-perc {
        font-size: rem(60);
        font-weight: 5;
        text-align: center;
        margin: 0 0 6px 0;
        max-width: 400px;

        opacity: 1;
    }

    .progress {
        background-color: rgba($white, .2);
        margin: 0 auto 15px auto;
        width: 100px;
        height: 5px;
        span {
            background-color: rgba($site-secondary-color, .8);
            width: 0;
            height: 100%;
            display: block;
        }
    }
    &.is-hidden {
        visibility: hidden;

        opacity: 0;
    }
}

.home.is-loading {
    overflow: hidden;
}

/*
 * Pulse animation
*/
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.cd-pulse {
    -webkit-animation: pulse 2s linear infinite;
       -moz-animation: pulse 2s linear infinite;
            animation: pulse 2s linear infinite;
    -webkit-animation-name: pulse;
            animation-name: pulse;
}

/* -------------------------------

    Modal Content

--------------------------------- */
        
$reveal-background: black(.9);
$reveal-padding: 0;
$reveal-border: $black;

.zoomIn {
    @include zoomIn($duration: .2s);
}

.zoomOut {
    @include zoomOut($duration: .5s);
}

.fadeInDownBig {
    @include fadeInDownBig($duration: .5s);
}

.fadeOutUpBig {
    @include fadeOutUpBig($duration: .5s);
}

.close-button {
    @include abs-pos($t: 5%, $r: 5%);
    text-align: center;
    border: 1px solid white(.8);
    border-radius: 50%;
    padding: .55em 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    top: 5%;
    z-index: 10;

    cursor: pointer;
    &:hover {
        background: $site-primary-color;
    }

    .close {
        width: 30px;
        height: 30px;
        display: inline-block;
        // overflow: hidden;
        position: relative;
        i {
            @include abs-pos($t: 6px,$r: 150%);
            font-size: rem(11); 
            font-style: normal;
            text-transform: uppercase;
        }

        &::before, &::after {
            content: "";
            background: $white;
            margin-top: -1px;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
        }
        &::before {
            @include transform(rotate(45deg));
        }
        &::after {
            @include transform(rotate(-45deg));
        }
        &.big {
            @include transform(scale(3));
        }
    }
}

#contactModal, #mobileMenu {
    @include reveal-modal-base;
    @include reveal-modal-fullscreen;
    
    position: fixed;
}

.modal-content {
    text-align: center;
    background-color: black(.8);
    overflow: auto;
    @include bp(large) {
        padding: 8em 5em 0;
    }
    padding: 6em 1em 1em; 
    width: 100%;
    height: 100%; 
    .ov {
        background: black(.85);
    }
    .entry {
        @include bp(large) {
            max-width: 90%;
        }
        margin: 0 auto;
        position: relative;
        p {
            @include bp(mediumUp) {
                max-width: 60%; 
            }
            margin-right: auto;
            margin-left: auto;  
        }
        
    }
}


/*--------------------------------

    Form

--------------------------------*/

.form-block {
    position: relative;
}

#successBlock {
    @include abs-pos($t:0, $r:0, $b:0, $l:0);
    text-align: center;
    background-color: rgba($site-secondary-color, .8);
    padding: 1em;
    * {
        color: $white;
    }
    p {
        font-size: rem(26); 
    }
}

#formContainer {
    .entry {
        text-align: left;
        padding-top: 1em;
    }
    .field-container {
        @include grid-row;
        [class*="form-"] {
            @include bp(large) {
                @include grid-col(6, 30px);
            }
        }
    }
}

.cd-form {
    @include clearfix;
    @include bp(mediumUp) {
        legend + div {
            /* reduce margin-top for first form element after the legend */
            margin-top: 20px;
        }

        h4, .cd-label {
            font-size: rem(14);
            margin-bottom: 10px;
        }

        input[type="text"], input[type="email"], textarea, select {
            padding: 20px;
        }
    }
    margin: 0 auto;
    padding-bottom: 1em;
    * {
        color: $white;
    }

    fieldset {
        @include zero-out;
        border: none;
    }

    legend {
        font-size: 2rem;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    h4, .cd-label {
        font-size: rem(14);
        margin-bottom: 10px;
    }

    .icon {
        position: relative;
    }

    .cd-label {
        display: block;
    }

    input, textarea, select, label {
        color: $white;
        font-size: rem(17);
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea, select, legend {
        @include appearance(none);
        width: 100%;
        display: block;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea, select {
        box-shadow: inset 0 1px 1px rgba($black, .08);
        border: 1px solid rgba($white, .3);
        border-radius: .25em;
        /* general style for input elements */
        padding: 18px;

        &:focus {
            color: lighten($black, 40%);
            outline: none;
            background-color: $white(.95);
            box-shadow: 0 0 5px rgba($black, .2);
            border-color: lighten($white, 30%);
        }
    }

    .message {
        min-height: 238px;
        overflow: auto;

        resize: vertical;
    }

    .submit-container {
        @include clearfix;
        text-align: center; 
        clear: both;
        position: relative;
    }



    [required] {
        background: url("../img/cd-required.svg") no-repeat top right;
    }

    .error-message p {
        color: $color-4;
        font-size: rem(15);
        text-align: center;
        background: #c00;
        border-radius: .25em;
        margin: 0 !important;
        padding: 16px;
    }

    .error {
        border-color: #c00 !important;
    }
}

.submit {
    @include ctaMain;
    color: darken($site-gray, 10%); 
    font-size: rem(18);
    text-transform: uppercase;
    border: 1px solid $site-gray; 
    padding: 1em 2.5em;

    cursor: pointer;
    &:hover, &:focus {
        color: $white;
        outline: none;
        background: $site-primary-color;
    }
}

.page-content {
    .submit {
        background-color: $button-color;
        &:hover, &:focus {
            background: $site-primary-color;
        } 
    }
}

@include keyframes(cd-bounce) {
    0%, 100% {
        @include transform(scale(1));
    }

    50% {
        @include transform(scale(.8));
    }
}

/* -------------------------------- 
Custom icons
-------------------------------- */

.cd-form {
    .icon input, .icon select, .icon textarea {
        padding-left: 54px !important;
    }

    .user {
        background: $form-input url("../img/cd-icon-user.svg") no-repeat 16px center;
    }

    [required].user {
        background: $form-input url("../img/cd-icon-user.svg") no-repeat 16px center,
        url("../img/cd-required.svg") no-repeat top right;
    }

    .tel {
        background: $form-input url("../img/cd-icon-phone.svg") no-repeat 16px center;
    }

    [required].tel {
        background: $form-input url("../img/cd-icon-phone.svg") no-repeat 16px center,
        url("../img/cd-required.svg") no-repeat top right;
    }

    .email {
        background: $form-input url("../img/cd-icon-email.svg") no-repeat 16px center;
    }

    [required].email {
        background: $form-input url("../img/cd-icon-email.svg") no-repeat 16px center,
        url("../img/cd-required.svg") no-repeat top right;
    }

    .message {
        background: $form-input url("../img/cd-icon-message.svg") no-repeat 16px 16px;
    }

    [required].message {
        background: $form-input url("../img/cd-icon-message.svg") no-repeat 16px 16px,
        url("../img/cd-required.svg") no-repeat top right;
    }
}

/* -------------------------------- 
FLoating labels 
-------------------------------- */
$label-pos: 18px;
    
.floating-labels {
    @include bp(mediumUp) {
        legend + div {
            /* reduce margin-top for first form element after the legend */
            margin-top: 16px;
        }

        .cd-label {
            top: 20px;
        }
    }
    [class*="form-"] div {
        margin: 28px 0;
    }

    .cd-label {
        @include transition(top .2s, left .2s, font-size .2s);
        color: rgba($white, .5);
        font-size: rem(17);
        position: absolute;
        top: $label-pos;
        left: $label-pos;

        cursor: text;
    }

    .icon {
        .cd-label {
            left: 56px;
        }
        .error {
            @include abs-pos($t: -$label-pos, $r: 0);
            color: $site-primary-color;
        } 
        &.has-error {
            .cd-label {
                color: $site-primary-color;
            }
            input[type="text"], input[type="email"], input[type="tel"], textarea, select {
                color: $site-primary-color;
                border-color: $site-primary-color; 
            }
        }
        &.has-success {
            .cd-label {
                color: $site-secondary-color;
            }
            input[type="text"], input[type="email"], input[type="tel"], textarea, select {
                color: $site-secondary-color;
                border-color: $site-secondary-color; 
            }
        }
    }

    .cd-label.float {
        /* move label out the input field */
        font-size: rem(11);
        font-weight: 500;
        top: -$label-pos;
        left: 0 !important;
    }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    outline: none;
    background-color: lighten($white, 10%);
    box-shadow: 0 0 5px rgba($black, .2);
    border-color: lighten($white, 30%);
}

input.rdr {
    outline: 0;
    background: none;
    border: none;
    width: 20px;
}

.content-entry {
    .cd-form {
        input[type="text"], input[type="email"], input[type="tel"], textarea, select {
            color: black(0.5);
            background-color: $white;
            box-shadow: inset 0 1px 1px rgba($black, .08);
            border-color: $site-gray;

            &:focus {
                color: lighten($black, 40%);
                outline: none;
                background-color: $white(.95);
                box-shadow: 0 0 5px rgba($black, .2);
                border-color: lighten($white, 30%);
            }
        }
    }
    .floating-labels {
        .cd-label {
            color: rgba($black, .5);
        }
    }
   
}
