<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        {% include parts/prt-favicon.html %}
        <link rel="stylesheet" href="{{ "assets/css/app.css" | prepend: site.baseurl }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <!-- base urls structure -->
    {% include inc-base-url.html %}
    <body {% if page.slug %} id="{{page.slug}}-page" class="{{page.slug}} is-loading" {% endif %}>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main id="main-view" class="main-scene">
            <!-- header for default pages -->
            {% if page.url != '/' %}
                {% include parts/prt-page-header.html %}
            {% endif %}
            {{ content }}
            <!-- /cd-main-content -->
            {% include parts/prt-footer.html %}
        </main>

        <!-- contact modal -->
        <div id="contactModal">
            <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
            <div class="close-contactModal"> 
                <span class="close thick"></span>
            </div>
                
            <div class="modal-content">
                <div class="ov"></div>
                <div class="entry">
                    <h3 class="contact-title">
                        {{ site.contact_title }}
                    </h3>
                    
                    <p>{{ site.contact_desc }}</p>
                    
                    <article id="formContainer" class="entry">
                        {% include parts/prt-form-default.html %}
                    </article>
                </div>
            </div>
        </div>

        <div id="mobileMenu">
            <div class="close-mobileMenu"> 
                <span class="close thick"></span>
            </div>
                
            <div class="modal-content">
                <div class="entry">
                    <h3 class="">Menu</h3>
                </div>
            </div>
        </div>

        {% include inc-default-scripts.html %}
        {% if page.url == '/' %}
            {% include inc-scrollmagic.html %}
        {% endif %}

        <script src="{{ "assets/js/app.js" | prepend: site.baseurl }}"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
