<!doctype html>
<html class="no-js" lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if page.title %}
                {{ site.title[page.lang] }} - {{ page.title }}
            {% else %}
                {{ site.title[page.lang] }}
            {% endif %}
        </title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
        {% include parts/prt-favicon.html %}
        <link rel="stylesheet" href="{{ "assets/css/app.css" | prepend: site.baseurl }}">

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
          <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
        {% endfor %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <!-- base urls structure -->
    {% include inc-base-url.html %}
    <body {% if page.slug %} id="{{page.slug}}-page" class="{{page.slug}} is-loading" {% endif %}>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main id="main-view" class="main-scene {% if site.index %}main-sec{% endif %}">
            <!-- header for default pages -->
            {% if page.ref != "index" %}
                {% include parts/prt-page-header.html %}
            {% endif %}
            {{ content }}
            <!-- /cd-main-content -->
            {% include parts/prt-footer.html %}
        </main>

        {% include parts/prt-modal-contact.html %}

        <div id="mobileMenu" data-reveal>
                
            <div class="modal-content">
                <div class="entry">
                    <ul class="mobile-nav">
                        <li><a href="/">Home</a></li>
                        {% include parts/prt-page-nav.html %}
                    </ul>
                </div>
            </div>

            <button class="close-button" data-close aria-label="Close modal"> 
                <span class="close"><i>close</i></span>
            </button>
        </div>

        {% include inc-default-scripts.html %}
        {% if site.index %}
            {% include inc-scrollmagic.html %}
        {% endif %}

        <script src="{{ "assets/js/app.js" | prepend: site.baseurl }}"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
