---
layout: default
title: The Power of Futbol

lang: en
ref: index

nav-item: Home
nav-weight: 0
exclude: true
slug: home

description: eHabla Fútbol - Personal Hub for Everything FÚTBOL in a User’s Life. 
---

{% assign locale = site.data.sections[page.lang] %}

{% include parts/prt-pre.html %}

{% include inc-hero.html %}
<div class="cd-main-content">
    {% include inc-community.html %}

    {% include inc-connection.html %}

    {% include inc-experience.html %}

    {% include inc-engage.html %}

    {% include inc-summary.html %}
    
    {% include parts/prt-cta.html %}
</div> 

<div class="mobile-index">
    {% include parts/act-btn-mobile.html %}
</div>