---
layout: default
title: El poder del Futbol

lang: es
ref: index

nav-item: Home
nav-weight: 0
exclude: true
slug: home

description: eHabla Fútbol - Hub personal para todo FÚTBOL en la vida de un usuario. 
---

{% assign locale = site.data.sections[page.lang] %}

{% include parts/prt-pre.html %}

{% include inc-hero.html %}
<div class="cd-main-content">
	{% include inc-sections.html %}

    {% include inc-summary.html %}

    {% include parts/prt-cta.html %}
</div> 

<div class="mobile-index">
    {% include parts/act-btn-mobile.html %}
</div>