---
layout: default
title: Política de Privacidad

lang: es
ref: privacy

nav-item: Política de Privacidad
nav-weight: 3
slug: privacy

description: eHabla Fútbol - Su privacidad es muy importante para nosotros. 
---

<div class="cd-main-content">
	<div id="{{page.slug}}" class="page-content">
		<article class="content content-{{page.slug}}">
			<header class="title-container">
				<div class="ov"></div>
				<h1 class="title">{{page.title}}</h1>
			</header>

			<div class="content-entry">
				<p>
					Su privacidad es muy importante para nosotros. En consecuencia, hemos desarrollado esta Política para que usted entienda cómo recopilamos, usamos, comunicamos, divulgamos y hacemos uso de información personal. A continuación se describe nuestra política de privacidad.
				</p>

				<ul>
					<li>
						Antes o en el momento de recopilar información personal, identificaremos los propósitos para los cuales se está recolectando la información.
					</li>
					<li>
						Recopilaremos y usaremos la información personal únicamente con el objetivo de cumplir con los propósitos especificados por nosotros y para otros propósitos compatibles, a menos que obtengamos el consentimiento del individuo afectado o como lo requiere la ley.		
					</li>
					<li>
						Sólo reteneremos información personal mientras sea necesario para el cumplimiento de esos propósitos. 
					</li>
					<li>
						Recopilaremos información personal por medios legales y justos y, en su caso, con el conocimiento o consentimiento de la persona afectada. 
					</li>
					<li>
						Los datos personales deben ser pertinentes para los propósitos para los cuales se va a usar y, en la medida necesaria para esos fines, deben ser exactos, completos y actualizados. 
					</li>
					<li>
						Protegeremos la información personal mediante salvaguardias de seguridad razonables contra pérdida o robo, así como el acceso no autorizado, divulgación, copia, uso o modificación.
					</li>
					<li>
						Facilitaremos a los clientes información sobre nuestras políticas y prácticas relacionadas con la gestión de la información personal. 
					</li>
				</ul>

				<p>
					Estamos comprometidos a conducir nuestro negocio de acuerdo con estos principios para asegurar que la confidencialidad de la información personal esté protegida y mantenida. 
				</p>
			</div>
		</article>
	</div>
	
	{% include inc-summary.html %}
    <!-- ctas -->
    <div class="ctas">
        <ul>
            <li><a href="#cd-connection" class="cta"><span>Learn More</span></a></li>
            <li><li>{% include parts/act-btn-contact.html %}</li></li>
        </ul>
    </div>
</div>

