---
layout: default
title: Términos de Uso

lang: es
ref: terms

nav-item: Términos de Uso
nav-weight: 4
slug: terms

description: eHabla Fútbol, Asume que accediendo a este sitio web, acepta estar obligado por estos términos y condiciones de uso del sitio web. 
---

<div class="cd-main-content">
	<div id="{{page.slug}}" class="page-content">
		<article class="content content-{{page.slug}}">
			<header class="title-container">
				<div class="ov"></div>
				<h1 class="title">{{page.title}}</h1>
			</header>

			<div class="content-entry">
				<h3>1. Términos</h3>

				<p>
					Al acceder a este sitio web, usted acepta estar obligado por estos Términos y condiciones de uso del sitio web, todas las leyes y regulaciones aplicables,
					Y acepta que usted es responsable del cumplimiento de cualquier norma local aplicable
					Leyes. Si no está de acuerdo con alguno de estos términos, se le prohíbe Utilizando o accediendo a este sitio. Los materiales contenidos en este sitio web son Protegido por las leyes aplicables de derechos de autor y marcas.
				</p>

				<hr>

				<h3>2. Licencia de uso</h3>

				<ol type="a">
					<li>
						Se concede permiso para descargar temporalmente una copia de los materiales
						(Información o software) en el sitio web de eHabla Futbol para información personal,
						No transitoria sólo comercial. Esta es la concesión de una licencia,
						No una transferencia de título, y bajo esta licencia usted no puede							:
						
						<ol type="i">
							<li>modificar o copiar los materiales;</li>
							<li>usar los materiales para cualquier propósito comercial, o para cualquier exhibición pública (comercial o no comercial);</li>
							<li>intente descompilar o realizar ingeniería inversa de cualquier software contenido en el sitio web de eHabla Futbol;</li>
							<li>eliminar los derechos de autor u otras anotaciones de propiedad de los materiales; o</li>
							<li>transferir los materiales a otra persona o "reflejar" los materiales en cualquier otro servidor.</li>
						</ol>
					</li>
					<li>
						Esta licencia terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser terminada por eHabla Futbol en cualquier momento. Al terminar la visualización de estos materiales o al finalizar esta licencia, debe destruir cualquier material descargado en su posesión, ya sea en formato electrónico o impreso.
					</li>
				</ol>

				<hr>

				<h3>3. Renuncia</h3>

				<ol type="a">
					<li>
						Los materiales en el sitio web de eHabla Futbol se proporcionan "tal cual". EHabla Futbol no hace ninguna garantía, expresa o implícita, y por la presente niega y niega todas las demás garantías, incluyendo, sin limitación, garantías implícitas o condiciones de comerciabilidad, aptitud para un propósito particular o no infracción de propiedad intelectual u otra violación de derechos. Además, eHabla Futbol no garantiza ni hace ninguna representación con respecto a la exactitud, los resultados probables o la confiabilidad del uso de los materiales en su sitio web de Internet o de otra manera relacionados con dichos materiales o en cualquier sitio vinculado a este sitio.
					</li>
				</ol>

				<hr>

				<h3>4. Limitaciones</h3>

				<p>
					En ningún caso, eHabla Futbol o sus proveedores serán responsables de los daños y perjuicios (incluyendo, sin limitación, los daños por pérdida de datos o ganancias, o debido a la interrupción del negocio), derivados del uso o incapacidad de utilizar los materiales en Internet de eHabla Futbol Incluso si eHabla Futbol o un representante autorizado de eHabla Futbol ha sido notificado oralmente o por escrito de la posibilidad de tal daño. Debido a que algunas jurisdicciones no permiten limitaciones sobre garantías implícitas, o limitaciones de responsabilidad por daños consecuenciales o incidentales, estas limitaciones pueden no aplicarse a usted.
				</p>

				<hr>
							
				<h3>5. Revisiones y Erratas</h3>

				<p>
					Los materiales que aparecen en el sitio web de eHabla Futbol pueden incluir errores técnicos, tipográficos o fotográficos. EHabla Futbol no garantiza que ninguno de los materiales en su sitio web sean exactos, completos o actuales. EHabla Futbol puede realizar cambios en los materiales contenidos en su sitio web en cualquier momento sin previo aviso. Sin embargo, eHabla Futbol no se compromete a actualizar los materiales.
				</p>

				<hr>

				<h3>6. Campo de golf</h3>

				<p>
					eHabla Futbol no ha revisado todos los sitios vinculados a su sitio web de Internet y no es responsable del contenido de dichos sitios vinculados. La inclusión de cualquier enlace no implica aprobación por parte de eHabla Futbol del sitio. El uso de cualquier sitio web vinculado es bajo el riesgo del usuario.
				</p>

				<hr>

				<h3>7. Términos de uso del sitio Modificaciones</h3>

				<p>
					eHabla Futbol puede revisar estos términos de uso de su sitio web en cualquier momento sin previo aviso. Al utilizar este sitio web, usted está de acuerdo en estar obligado por la versión actual de estos Términos y Condiciones de Uso.
				</p>

				<hr>

				<h3>8. Ley que rige</h3>

				<p>
					Cualquier reclamación relacionada con el sitio web de eHabla Futbol se regirá por las leyes del Estado de Texas sin tener en cuenta su conflicto de disposiciones legales.
				</p>

				<p>
					Términos y condiciones generales aplicables al uso de un sitio web.
				</p>	
			</div>
		</article>
	</div>
	
	{% include inc-summary.html %}
    <!-- ctas -->
    <div class="ctas">
        <ul>
            <li><a href="#cd-connection" class="cta"><span>Learn More</span></a></li>
            <li><li>{% include parts/act-btn-contact.html %}</li></li>
        </ul>
    </div>
</div>

